<div class='background'>
<div id='title'>
    <h1>Syntactic Sugar</h1> 
    <h3>"The Heavenly Bakery"</h3>
</div>

<div id='small-title'>
    <h1>Syntactic Sugar</h1> 
    <h3>"The Heavenly Bakery"</h3>
</div>
        
<h1 class='pastry-category'>Heavenly Cookies</h1>
<div class='pastries' id='pastries--cookies'>
    <div class='pastries__hover'>
        <div class='pastries__oatmeal'>
            <div class='pastries__image'>
                <img src="<%= @cookie1.image %>">
            </div>
            <h2><%= @cookie1.name %></h2>
            <h3><%= @cookie1.price %></h3>
            <p><%= @cookie1.description %></p>
        </div>
    </div>

    <div class='pastries__hover'>
        <div class='pastries__chocolatechip'> 
            <div class='pastries__image'>
                <img src="<%= @cookie2.image %>">
            </div>
            <h2><%= @cookie2.name %></h2>
            <h3><%= @cookie2.price %></h3>
            <p><%= @cookie2.description %></p>
        </div>
    </div>

    <div class='pastries__hover'>
        <div class='pastries__macaroon'>
            <div class='pastries__image'>
                <img src="<%= @cookie3.image %>">
            </div>
            <h2><%= @cookie3.name %></h2>
            <h3><%= @cookie3.price %></h3>
            <p><%= @cookie3.description %></p>
        </div>
    </div>
</div> 


<h1 class='pastry-category'>Heavenly Muffins</h1>
<div class='pastries' id='pastries--muffins'>
    <div class='pastries__hover'>
        <div class='pastries__banana'>
            <div class='pastries__image'>
                <img src="<%= @muffin1.image %>">
            </div>
            <h2><%= @muffin1.name %></h2>
            <h3><%= @muffin1.price %></h3>
            <p><%= @muffin1.description %></p>
        </div>
    </div>

    <div class='pastries__hover'>
        <div class='pastries__morning'> 
            <div class='pastries__image'>
                <img src="<%= @muffin2.image %>">
            </div>
            <h2><%= @muffin2.name %></h2>
            <h3><%= @muffin2.price %></h3>
            <p><%= @muffin2.description %></p>
        </div>
    </div>

    <div class='pastries__hover'>
        <div class='pastries__coffee'>
            <div class='pastries__image'>
                <img src="<%= @muffin3.image %>">
            </div>
            <h2><%= @muffin3.name %></h2>
            <h3><%= @muffin3.price %></h3>
            <p><%= @muffin3.description %></p>
        </div>
    </div>
</div>

<h1 class='pastry-category'>Heavenly Cakes</h1>
<div class='pastries' id='pastries--cakes'>
    <div class='pastries__hover'>
        <div class='pastries__strawberry'>
            <div class='pastries__image'>
                <img src="<%= @cake1.image %>">
            </div>
            <h2><%= @cake1.name %></h2>
            <h3><%= @cake1.price %></h3>
            <p><%= @cake1.description %></p>
        </div>
    </div>

    <div class='pastries__hover'>
        <div class='pastries__cheesecake'> 
            <div class='pastries__image'>
                <img src="<%= @cake2.image %>">
            </div>
            <h2><%= @cake2.name %></h2>
            <h3><%= @cake2.price %></h3>
            <p><%= @cake2.description %></p>
        </div>
    </div>

    <div class='pastries__hover'>
        <div class='pastries__malted'>
            <div class='pastries__image'>
                <img src="<%= @cake3.image %>">
            </div>
            <h2><%= @cake3.name %></h2>
            <h3><%= @cake3.price %></h3>
            <p><%= @cake3.description %></p>
        </div>
    </div>
</div>
</div>